a:not(.btn) {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}
img.logo {
    /*background-color: rgba(255, 255, 255, 0.7);*/
    /*border-radius: 5px;*/
    /*margin: 0px;*/
    height: 50px;
    /*padding: 5px;*/
}
.background-video #player {
    /* Full screen */
    height: 100vh;
    width: 100vw;
    position: absolute;
    /* Blur */
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.tab-content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    /* Colors */
    color: white;
}
.tab-content .panel, .tab-content .panel .panel-body a, .tab-content .input-group {
    color: black;
}
.panel {
    text-align: left;
}
.panel .panel-body {
    height: 150px;
    text-overflow: ellipsis;
    overflow: scroll;
}
.tab-content .tab-pane {
    margin-top: 20vh;
    text-align: center;
    /*width: 500px;*/
    width: 50vw;
    /* Center DIV block: http://www.thesitewizard.com/css/center-div-block.shtml */
    margin-left: auto;
    margin-right: auto;
}

/* GitHub Tab Pane */

.tab-pane#github:not(.valid-username) .github-user-preview {
    display: none;
}
.tab-pane#github:not(.valid-username) .input-group-addon .glyphicon-ok {
    display: none;
}
.tab-pane#github:not(.checking-username) .input-group-addon .glyphicon-refresh {
    display: none;
}
.tab-pane#github:not(.invalid-username) .input-group-addon .glyphicon-remove {
    display: none;
}
.tab-pane#github .thumbnail {
    width: 128px;
    height: 128px;
}

/* JSON Resume tab pane */

.tab-pane#json-resume input#import-json-resume-file {
    display: inline-block;
}
.tab-pane#json-resume:not(.has-resume) .use-resume-btn {
    display: none;
}
.job-results {
    overflow-y: scroll;
    height: 70vh;
}

/* SpinKit: http://tobiasahlin.com/spinkit/ */

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}
.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}
@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}